#converter {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: 2px solid black;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
}
#converter-header {
    padding: 15px 15px;
    background-color: #6943FF;
    color: white;
}

#converter-body {
    padding: 15px 15px;
    background-color: #F4F4F4;
    color: #5A537B;
}

.type-copy {
    font-size: 12px;
}

#value {
    padding: 3px;
    border: 1px solid white;
    width: 117px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 58px;
    background-color: none;

}

.type-box {
    background-color: white;
    padding: 2px 2px;
    margin: 3px 3px;
}

#button {
    width: 117px;
    height: 42px;
    border-radius: 5px;
    background-color: white;
}

#title {
    font-size: 28px;
    font-weight: 800;
}
